mat-card-title {
    color: black;
  }

mat-card-subtitle{
    color: white;
}

mat-card-content {
    text-align: center;
    color: white;
}

mat-card {
    display:inline-block;
    min-width: 200px;
    flex: 1;
    margin: 4px;
    background-color: #525157;
}

mat-card a:link {
    text-decoration: none;
}

mat-card a:visited {
    text-decoration: none;
}

mat-card a:hover {
    text-decoration: none;
}

mat-card a:active {
    text-decoration: none;
}